<footer class="footer">
  <small>
    <%= t "layouts.footer.the" %> <a href="http://www.railstutorial.org/"><%= t "layouts.footer.ruby_on" %></a>
    <%= t "layouts.footer.by" %> <a href="http://www.michaelhartl.com/"><%= t "layouts.footer.name" %></a>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("about"), about_path %></li>
      <li><%= link_to t("contact"), contact_path %></li>
      <li><a href="http://news.railstutorial.org/"><%= t "layouts.footer.news" %></a></li>
    </ul>
  </nav>
</footer>
